@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #9255FD;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  background: rgb(239, 239, 239);
}

html {
  font-size: 70%;
  font-family: "Poppins", sans-serif;
}
